@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');



body {
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #000000
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #ffff
}

.cover {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;

}

section.module p {
    margin-bottom: 40px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content {
    padding: 40px 0;
    background-color: #ece7d5
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-backdrop-size: cover;
    -moz-background-size: cover;
    -o-backface-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%)
}



section.module.parallax-1 {
    background-image: url(./assets/iStock-1357020474-scaled.jpg);
}

section.module.parallax-2 {
    background-image: url(./assets/code.jpg);
}

section.module.parallax-3 {
    background-image: url(./assets/codeheader.jpg);
}

section.module.parallax-4 {
    width: auto;
    background-image: url(./assets/eu.jpg);
}

section.module.parallax h1 {
    color: #ffff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

.area-1,
.area-2,
.area-3 {
    visibility: hidden;
}

.ccard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ece7d5
}

.caixao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.caixao .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: 5px;
}

.caixao .card .contendo {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.caixao .card:hover .contendo {
    transform: translateY(0px);
    opacity: 1;
}

.caixao .card .contendo h2 {
    position: absolute;
    top: -80px;
    right: 50px;
    font-size: 8em;
    color: #000;
    pointer-events: none;
}

.caixao .card .contendo h3 {
    font-size: 1.8em;
    color: #242424;
    z-index: 1;
}

.caixao .card .contendo p {
    font-size: 1em;
    color: #242424;
    z-index: 300;
}

.caixao .card .contendo a {
    position: relative;
    display: inline;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.container-image {
    display: flex;
    height: 52px;

}

.container-menu {
    display: flex;
    gap: 30px;
}

.efeito {
    border: none;
    color: #000000;
    padding: 10px;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;


}

.efeito-1:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0px;
    width: 0px;
    height: 5px;
    background: rgba(19, 1, 176, 0.486);
    transition: all, 1s;
}

.efeito-1:hover:before {
    width: 95%;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-secundary-image {
    display: flex;
    align-items: center;
    height: 50%;
}

.content-main-type-caption-icon {
    border: none;
    width: 30px;
    color: #6d009c;
    line-height: 24px;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    transition: all 400ms ease;
    background-color: #e7e4e4;

}

.content-main-type-caption-button {
    border: none;
    width: 120px;
    height: 40px;
    color: #e7e4e4;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #6d009c;

}

.content-main-type-caption-button {
    border: none;
    width: 120px;
    height: 40px;
    color: #e7e4e4;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #6d009c;

}

.content-main-type-caption-button:hover {
    background: rgba(0, 0, 0, 0);
    color: #bb94cc;
    box-shadow: inset 0px 0px 0px 3px #6d009c;
}

.primary-content {
    width: 600px;

}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content-title {
    border-top: 0.4px solid #960cd6;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
}

.box {
    position: relative;
    left: 45%;
    bottom: -65px;
    background-color: #5c15ad;
    height: 300px;
    width: 550px;

    transition-property: background-color, border-radius;
    transition-duration: 2s, 1.5s;
    transition-timing-function: cubic-bezier(.15, .89, .85, .26);
}

.box:hover {
    background-color: #8331e0;
    border-radius: 50px;
}

.image-box-round {
    height: 100px;
    height: 100px;
    border-radius: 50px;

}

.image-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 48px;

}

.image-box-button {
    border: solid black;
    color: #000000;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;


}

.image-box-button-primary {

    color: #8331e0;
    transform-style: preserve-3d;

}

.image-box-button-primary:after {
    border: solid rgb(0, 0, 0);
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 10px;
    position: absolute;
    color: #000000;
    border-radius: 10px;
    content: 'Linkedin';
    box-sizing: border-box;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.image-box-button-primary:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}


.image-box-button-secundary {

    color: #8331e0;
    transform-style: preserve-3d;

}

.image-box-button-secundary:after {
    border: solid black;
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 10px;
    position: absolute;
    color: #135dd4;
    border-radius: 10px;
    content: 'GitHub';
    box-sizing: border-box;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.image-box-button-secundary:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}

.image-box-button-third {

    color: #8331e0;
    transform-style: preserve-3d;

}

.image-box-button-third:after {
    border: solid black;
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 10px;
    position: absolute;
    color: #000000;
    border-radius: 10px;
    content: 'Download';
    box-sizing: border-box;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.image-box-button-third:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}

.baseboard {
    max-width: 100%;
    max-height: 350px;
    color: #960cd6;

}

.baseboard-image {
    max-width: 300px;
}

.copyright {
    color: #ffffff;
}